html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow: scroll;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#acceptButton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    /* margin-top: 5px; */
}

.blurred {
    filter: blur(5px);
    pointer-events: none;
}

.gradient-background {
    background: linear-gradient(91deg, #adb2d4, #c7d9dd, #d5e5d5, #eef1da);
    background-size: 240% 240%;
    animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.chat-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(204, 202, 181, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 10px;
}

.chat-messages {
    flex: 1;
    overflow-y: scroll;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#chat-input {
    display: flex;
    padding: 10px;
}

textarea {
    flex: 1;
    padding: 10px;
    resize: none;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: inherit;
    font-size: 14px;
    outline: none;
    overflow-y: auto;
}

#chat-input button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#chat-input button:hover {
    background-color: #45a049;
}

.user-message {
    background-color: #569cd5;
    color: #f7f7f7;
    padding: 10px;
    border-radius: 10px;
    text-align: right;
    width: fit-content;
    margin-left: auto;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.gpt-message {
    background-color: #5a5e61;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    width: fit-content;
    margin-right: auto;
    margin-bottom: 10px;
    word-wrap: break-word;
}

@media (max-width: 768px) {
    #chat-input [type="text"] {
        width: 90%;
    }

    .user-message, .gpt-message {
        max-width: 90%;
    }

    .logo {
        width: 80px;
        margin-bottom: 20px;
    }

    .popup-content {
        width: 90%;
        padding: 10px;
        border-radius: 5px;
        max-width: 400px;
        margin: 0 auto;
    }
}